*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #193549;
  color: #fff;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
#mainHeading {
  font-size: 5rem;
  margin-top: 30px;
  margin-bottom: 5px;
}
#myForm div{
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 20px; 
}
#img {
  width: 100%;
  border-style: solid;
  border-color: #a21a1a;
  border-width: 0px;
  box-sizing: border-box;
  filter: blur(0px);
}